name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: "3.7"
    - name: Setup venv
      run: sudo apt-get install python3-venv && python3 -m venv venv
    - name: Install python dependencies
      run:  source venv/bin/activate && pip install --upgrade pip && pip install -r requirements.txt
    - name: Build
      run: make all
    - name: Test
      run: make check
